$mainBackground: #191919;
$sceondBackground: #313131;
$thirdBackground: #494949;

$borderColor: #313131;

$mainText: #ffffff;
$text: #dddddd;

.bible {
    background-color: $mainBackground;
    color: $mainText;
}
